
.current{
    font-weight: bold;
    margin: 0px 10px;
    display: inline-block;

}
.container{

    display: grid;
    grid-template-columns: 1fr ;
    background: whitesmoke;

}
.list{

    display: flex;
    list-style: none;
}
.li{
    margin: 10px;

}

