.nav{
  grid-area: n;
  background-color: #1e2938;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: -apple-system;
  font-size: large;
}
a{
  text-decoration: none;
}
.item{

  padding: 10px;
}
.item a{
  text-decoration: none;
  color: white;
}
.item a.activeColor{
  color: cadetblue;
  box-shadow: 10px 10px 10px rgba(0.5,2,1,1.9)
}
.friendsNav{
  font-size: 25px;
  font-family: "Adobe Hebrew";
  color: royalblue;
  text-align: center;
}
.friendsBlock{

}
.wrapper{
text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}
.friendsName{
  color: #1e2938;
}
.logo{
  width: 60px;
  height: 60px;
  background: darkolivegreen;
  border-radius: 50%;
  margin-left: 5px;
}