.content{

  grid-area: content;
  background-color: blue;
}
.image{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.item{

}

.block{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    margin-top: 50px;
}

.name{

    font-size: 30px;
    font-family: "Roboto Light";
    font-style: italic;
    padding-left: 30px;
    color: #1e2938;
}
.text_block{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    border: 2px solid darkslateblue;
    border-radius: 20px;
    padding: 20px;
    font-style: italic;
    font-size: 24px;
    color: #1e2938;
}
.itemlike{
    position: absolute;
    bottom: -40px;
    right: 10px;
}
