.app-wrapper {
    width: 1240px;
    display: grid;
    margin: 0 auto;
    grid-template-areas: "h h" "n content";
    grid-template-rows: 40px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

}

.app-wrapper-content {
  grid-area: content;
    padding: 10px;

}



