.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.message{
    font-size: 30px;
    color: black;
}
.dialogs__item {
    padding: 10px;
}
.dialogs__item a{
    text-decoration: none;
    color: #1e2938;
    font-family: -apple-system;
    font-size: 22px;
}
.dialogs__item .active{
    font-size: 15px;


}

.messages {
    padding: 10px;
    text-decoration: none;
    color: #1e2938;
    font-family: -apple-system;
    font-size: 22px;
}

.message {

}